<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>inProduction</key>
  <false/>
  <key>developmentAppKey</key>
  <string>Dvv7txVsTom2fbIVqoiqTw</string>
  <key>developmentAppSecret</key>
  <string>5aTgczeqSJeBUEHTeLiZJw</string>
  <key>productionAppKey</key>
  <string>Dvv7txVsTom2fbIVqoiqTw</string>
  <key>productionAppSecret</key>
  <string>5aTgczeqSJeBUEHTeLiZJw</string>
</dict>
</plist>
